* {
    padding: 0px;
    margin: 0px;
}
body {
    background: #3333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cover {
    width: 600px;
    height: 300px;
    /* background-color: #000; */
    margin-top: 50px;
    display: flex;
}
.box {
    margin: 10px;
    width: 600px;
    height: 300px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
}
img {
    width: 800px;
    height: 200px;
    display: flex;
}