* {
    padding: 0;
    margin: 0;
}
/* .container {
    width: 100%;
    box-shadow: 1px 2px 3px 4px black;
    padding: 20px;
    margin: auto; */
/* } */
.dealer {
    /* gap: 100px; */
    /* width: 50px; */
    /*ustify-content: space-evenly; */
    padding-left: 20px;
    /* flex-direction: column; */
    /* text-align: left;     */
    margin-left: 60px;
    display: flex;
    gap: 5%;
    padding-top: 15px;
}
.nav {
    display: flex;
    margin-top: 20px;
    padding-left: 30px;
    margin-left: 60px;
    /* gap: 15%; */
}
.search {
    width: 250px;
    height: 50px;
    margin-left: 30px;
}
.searchtwo {
    margin-left: 40px;
    width: 750px;
    height: 54px;
}
.login {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: yellow; */
    font-size: 2em;
    margin-left: 20px;
    color: green;
}
.log {
    color: black;
}
.sell {
    font-size: 2em;
    margin-left: 20px;
    background-color: yellow;
    border-color: brown;
}

.catagories {
    display: flex;
    padding-top: 30px;
    padding-left: 94px;
    gap: 26px;
    border-bottom: solid gray;

}
.catagorie {
    margin-right: 40px;
    font-size: large;
    font-weight: bold;
}
.main {
    align-items: center;

}
.mainone {
    align-items: center;
}
.text {
    margin-top: -63px;
}
.all {
    gap: 30px;
    padding-top: 50px;
    padding-left: 111px;
    position: relative;
    display: flex;
}
.all .text1 {
    position: absolute;
    left: 19%;
    bottom: -17%;
    font-size: 20px;
}
.all .text2 {
    position: absolute;
    left: 27%;
    bottom: -17%;
    font-size: 20px;
}
.all .text3 {
    position: absolute;
    left: 33%;
    bottom: -17%;
    font-size: 20px;
}
.all .text4 {
    position: absolute;
    left: 41%;
    bottom: -17%;
    font-size: 20px;
}
.all .text5 {
    position: absolute;
    left: 50%;
    bottom: -17%;
    font-size: 20px;
}
.all .text6 {
    position: absolute;
    left: 58%;
    bottom: -17%;
    font-size: 20px;
}
.all .text7 {
    position: absolute;
    left: 62%;
    bottom: -17%;
    font-size: 20px;
}
.all .text8 {
    position: absolute;
    left: 74%;
    bottom: -17%;
    font-size: 20px;
}
.all .text9 {
    position: absolute;
    left: 82%;
    bottom: -17%;
    font-size: 20px;
}
.allcatagories {
    gap: 30px;
    padding-top: 50px;
    padding-left: 310px;
    position: relative;
    display: flex;
}
.allcatagories .text10 {
    position: absolute;
    left: 19%;
    bottom: -17%;
    font-size: 20px;
} 
.allcatagories .text11 {
    position: absolute;
    left: 27%;
    bottom: -17%;
    font-size: 20px;
} 
.allcatagories .text12 {
    position: absolute;
    left: 34%;
    bottom: -17%;
    font-size: 20px;
} 
.allcatagories .text13 {
    position: absolute;
    left: 41%;
    bottom: -17%;
    font-size: 20px;
} 
.allcatagories .text14 {
    position: absolute;
    left: 51%;
    bottom: -17%;
    font-size: 20px;
} 


/* @media only screen and (max-width:480px) {
    body {
        background-color: red;
    }
    .dealer {
        width: 40px;
    }
    .motor{
        width: 40px;
    }
    .property {
        width: 40px;
    }
} */

    
  
    
